.wrapper{
  padding: 10px;
  min-width: 323px;
  transition: 0.2s all;
  border-radius: 10px;
  cursor: pointer;
  &:hover{
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  }
  .ItemPlate{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:9px;
    height: 100%;
    h2{
      font-size: 30px;
    }
    .subtitle{
      text-align: left;
    }
    span{
      padding-top: 15px;
      font-size: 30px;
    }
    img{
      height: 70%;
      width: 100%;
      align-self: center;
      max-height: 70%;
      flex-shrink: 1;
      transform: scale(0.9);
      transition: 0.2s all;
      &:hover{
        transform: scale(1);
      }
    }
  }
}