.wrapper{
  width: 100%;
  padding: 75px 100px;
  .MostSelled{
    gap:9px; 
    h2{
      font-size: 50px;
      font-weight: 400;
    }
    .subtitle{
      font-size: 20px;
    }
    .best_items{
      //flex-wrap: wrap;
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      gap:28px;
      @media(max-width: 1548px) {
        flex-wrap: wrap;
      }
       @media (max-width: 876px) {
        justify-content: center;
        width: 100%;
      } 
      div{
        flex-basis: 25%;
      }
    }
  }
}