.Header{
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255,.8);
  backdrop-filter: blur(5px);
  @media(max-width: 1024px){
    padding: 0px 30px;
    height: 60px;
  }
  @media(max-width: 425px){
    padding: 0px 5px;
    height: 60px;
  }
  .links{
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap:33px;
    align-items: center;
    a{
      color:black;
      font-size: 16px;
      font-weight: 400;
      img{
        width: 8px;
      }
    }
    @media (max-width: 768px) {
      gap:20px;
      a{
        font-size: 12px;
      }
    }
    @media(max-width: 630px){
      display: none;
      a{
        font-size: 7px;
      }
    }
  }
  .logo{
    height: 100%;
    display: flex;
    align-items: center;
    @media(max-width: 425px){
      width: 45%;
      padding-left: 10px;    
    }
    @media(max-width: 325px){
      width: 45%;
      padding-left: 10px;    
    }

    a{
      width: 100%;
      img{
        width: 100%;
        cursor: pointer;
      }
    }
  }
  .icons{
    display: flex;
    justify-content: center;
    column-gap: 21px;
    align-items: center;
    height: 80%;
    @media(max-width: 630px){
      visibility: hidden;
    }
    a{
      img{
      transition: 0.1s all;
      cursor: pointer;
      height: 30px;
      &:hover{
        transform: scale(1.1);
      }
      @media(max-width: 425px){
        height: 20px;
      }
    }
    }
  }
.wrapper{
  position: fixed;
  top:0px;
  left:0px;
  width: 100vw;
  z-index:1;
  height: 100vh;
  background-color: rgba(198, 198, 198,.8);
  display: none;
  justify-content: center;
  align-items: center;
  .plate{
    height: 60%;
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    a{
      color:black;
    }
    div{
      flex-grow: 1;
      margin: 0px;
      display: flex;
      cursor:pointer;
      -webkit-user-select: none;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255,.9);
      font-size: 35px;
      text-transform: uppercase;
      transition: 0.2s all linear;
      font-weight: 500;
      &:hover{
        background-color: rgba(198, 198, 198,.6);
        color:whitesmoke;
      }
    }
    .icons_menu{
      gap:20%;
      z-index: 2;
      a{
        height: 50%;
      }
      img{
        height: 100%;
      }
    }
  }
}
  
.button{
  position: absolute;
  z-index: 2;
  left: 87%;
  cursor: pointer;
  top: 15%;
  background-color:none;
  color:black;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  -webkit-user-select: none;
  @media(max-width: 630px){
      display: flex;
    }
}
/* .back_button{
  position: fixed;
  left: 95%;
  top: 5%;
  z-index: 2;
  border-radius: 10px;
  background-color: black;
  color:white;
  font-weight: 500;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  -webkit-user-select: none;
} */


.menu_mini_plate{
  position: absolute;
  width: 80%;
  height: 15%;
  background-color: black;
  border-radius: 5px;
  margin: 0px;
}

}