.Footer{
  position: relative;
  width: 100%;
  padding: 70px 200px;
  display: flex;
  justify-content: space-between;
  @media(max-width: 1440px){
    padding: 70px 100px;
  }
  @media(max-width: 1024px){
    padding: 40px 30px;
  }
  @media(max-width: 425px){
    padding: 20px 10px;
  }

  .footer_line{
    position: absolute;
    width: 90%;
    transform: translate(-50%,0%);
    height: 2px;
    z-index: 2;
    background-color: #DCE5E2;
    left: 50%;
    top: 0%;
    @media(max-width: 1024px){
      width: 98%;
    }
    @media(max-width: 425px){
        height: 0.5px;
      }
  }
  .block_links{
    display: flex;
    flex-direction: column;
    gap:20px;
    flex-basis: 13%;
    align-items: flex-start;
    @media(max-width: 1040px){
      gap:10px;
      flex-basis: 16%;
    }
    @media(max-width: 425px){
        gap:4px;
      }
    img{
      width: 180px;
      @media (max-width: 900px) {
        width: 130px;
      }
      @media(max-width: 425px){
        width: 70px;
      }
      @media(max-width: 325px){
        width: 50px;
      }
    }
    p{
      text-align: left;
      font-size: 13px;
      @media(max-width: 425px){
        font-size: 6px;
      }
    }
     h3{
      font-size: 22px;
      font-weight: 500;
      @media(max-width: 1024px){
        font-size: 17px;
      }
      @media(max-width: 425px){
        font-size: 10px;
      }
      @media(max-width: 325px){
        font-size: 8px;
      }
     }
     a{
      font-size: 17px;
      color: black;
      transition: 0.1s all;
      @media(max-width: 1024px){
        font-size: 13px;
      }
      @media(max-width: 425px){
        font-size: 8px;
      }
      @media(max-width: 325px){
        font-size: 7px;
      }
      &:hover{
        color:grey;
      }
     } 
  }
}