.Slider{
  width: 100%;
  padding: 20px 100px;
  height: 550px;
  -webkit-user-select:none;
  @media(max-width: 1140px){
    height: 450px;
  }
  @media(max-width: 1024px){
    height: 400px;
    padding: 20px 30px;
  }
  @media (max-width: 768px) {
    height: 350px;
  }
  @media (max-width: 425px) {
    height: 180px;
    padding: 10px 10px;
  }
  @media(max-width: 325px){
    padding: 10px 10px;
    height: 140px;
  }
  .wrapper{
      position: relative;
      border-radius: 40px;
      overflow: hidden;
      height: 100%;
      @media(max-width: 425px) {
        border-radius: 20px;
      }
    .inside_arrow{
      transform: translate(-50%,-50%);
      position: absolute;
      top: 50%;
      z-index: 1;
      cursor: pointer;
      transition: 0.1s all;
    }
    .inside_left_arrow{
      left: 25px;
      &:hover{
        transform:translate(-50%,-50%) scale(1.1);
      }
      &:active{
        transform:translate(-50%,-50%) scale(0.9);
      }
      @media(max-width: 425px) {
        left:15px;
      }
    }
    .inside_right_arrow{
      right: 13px;
      transform: translate(-50%,-50%) rotate(180deg);
      &:hover{
        transform:translate(-50%,-50%) rotate(180deg) scale(1.1);
      }
      &:active{
        transform:translate(-50%,-50%) rotate(180deg) scale(0.9);
      }
      @media(max-width: 425px) {
        right:1px;
      }
    }
    .pagination{
      position: absolute;
      transform: translate(-50%,-50%);
      width: 50%;
      height: 3%;
      top: 94%;
      left: 50%;
      z-index: 1;
      display: flex;
      justify-content: center;
      gap:40px;
      align-items: center;
      @media(max-width: 425px) {
        gap:10px;
        width: 70%;  
      }
      .pag{
        width: 250px;
        height: 4px;
        cursor: pointer;
        border-radius: 1px;
        background-color: black;
        @media(max-width: 425px) {
          border-radius: 10px;
          height: 2px;
        }
      }
      .pag_active{
        background-color:orange;
      }
    }
    .inside{
      overflow: hidden;
      transition: 1s all;
      width: 300%;
      position: absolute;
      display: flex;
      height: 100%;
      .iphones_block{
        background-color: #DCE5E2;
        display: flex;
        align-items: center;
        padding: 0px 60px;
        @media(max-width: 425px){
            padding: 0px 33px;
          }
        img{
          width: 50%;
          align-self: flex-end;
        }
        .iphones_block_info{
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: left;
          gap:20px;
          @media(max-width: 425px){
            gap:10px;
          }
          h2{
            font-weight: 600;
            text-align: left;
            font-size: 58px;
            line-height: 70px;
            @media(max-width: 1140px){
                font-size: 30px;
                line-height: 40px;
            }
            @media(max-width: 425px) {
              font-size: 10px;
              line-height: 10px;
            }
          }
          p{
            text-align: left;
            font-size: 16px;
            line-height: 19px;
            @media(max-width: 425px) {
              font-size: 7px;
              line-height: 7px;
            }
          }
          input{
            margin-top: 10px;
            background-color: transparent;
            font-size: 18px;
            line-height: 22px;
            width: 170px;
            height: 50px;
            border-radius:50px;
            transition: 0.2s all;
            transform-origin: center center;
            cursor: pointer;
            &:hover{
              box-shadow: 0px 0px 10px #A6C1B8;
            }
            @media(max-width: 425px) {
              height: 20px;
              width: 60px;
              font-size: 10px;
              line-height: 10px;
              margin-top: 5px;
              border:1px solid black;
            }
          }
        }
      }
    }
  }
}